body {
    margin: 0;
    background-color: #E4F9F5;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    width: 10%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;

}

h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;

}
div {
    background-color: #E4F9F5;
    margin-top: 0;
    padding-top: 0;

}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    right: 690px;
    bottom: 300px;
}

hr {
    background-color: #EAF6F6;
    border-style: dotted none none;
    height: 0px;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    padding: 30px;

}

.circle-cropped {
    background-color: #E4F9F5;
    height: 210px;
    width: 210px;
}

p {

    font-weight: 300;
    font-size: 1em;
   

}

.space {
    padding-left: 150px;
    padding-right: 150px;
}
 
.middle-container {
 
}

.bottom-container {
   
}